.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #87ceeb;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  transition: filter 0.3s;
  padding: 0 32px;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.buttonRoom {
    background: #fefefe;
    color: black;
    border: 1px solid #f7b4a4;
    font-size: 14px;
  }
}
